name: CI

on: [push]

jobs:
  build_drafts:
    name: 'Build the drafts job'
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build It
      uses: ./


