name: CI

on: 
  push:
    branches:
      - master
      
jobs:
  build_drafts:
    name: 'Build the drafts job'
    runs-on: ubuntu-latest 

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build It
      uses: ./
    - name: save ouptut 
      uses: actions/upload-artifact@v1
      with:
        name: all.tar 
        path: all.tar
